/* ==========================================================================
Global
========================================================================== */
body *:not(input):not(select):not(.label) {
	border-radius: 0 !important;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.table-action {
	overflow: hidden;
	text-indent: -120%;
	transition: all 0.3s ease-in-out 0s;
}
body *:hover > .table-action, tr:hover > td > .table-action {
	text-indent: 0;
	transition: all 0.2s ease-in-out 0s;
}
.alert-dismissable .close {
	right: 5px;
}
.img-thumbnail {
	height: 90px;
	max-height: 90px;
	max-width: 90px;
	width: 90px;
}
.prop-thumbnail {
	max-height: 90px;
	max-width: 200px;
}
.hasItems {
	background-color: #dce6f1;
}
#wrap {
	margin-top: 20px;
}

/* ==========================================================================
Navigation
========================================================================== */
#main-nav {
	padding:0;
	background: #fff;
}
.nav-stick {
	clear: both;
}
.navbar-header {
	clear: both;
	width: 100%;
	/* background-image:url(../images/banner-image.jpg); */
	background-size: auto;
	background-position: 100% 50%;
	background-repeat: no-repeat;
	border:2px #000 solid;
}
.navbar-brand {
	background:#fff;
	min-width: 287px;
	text-align: center;
}
.navbar-brand img {
	/* height: 26px; */
	/* margin:0 auto; */
}
.navbar-nav {
}
.navbar-menu {
	margin:0;
	padding:0;
}
.nav-justified {
	width: auto;
	border:1px #000 solid; 
	border-top: none;
}
.nav-justified > li {

}
.nav-location > li {
	font-size:0.9em;
	background: #fff;
}
.nav > li {
	max-width: 12.5%;
	text-align: center;
}
.nav > li > a, .nav > li.display-only span {
	padding:0;
	margin:2px 2px;
	background: #dce6f1;
	color:#000;
	border:2px #fff solid;
}
.display-only span {
	display: block;
}
.dropdown-menu li {
	text-align: center;
}
.nav-location > li.active a, .current-nav, #propertySelector .dropdown-toggle {
	border:2px #000 solid;
	background:#95b3d7 !important;
	color:#fff;
	font-weight: bolder;
}
.nav-single {
	padding:8px 0px;
}
.current-nav {
	text-align: center;
	margin:8px 0;
	padding:inherit 0;
	border-right:none;
	border-left:none;
}
#propertySelector {
	width: 7%;
}
#propertySelector .dropdown-menu, #userSelector .dropdown-menu {
	width: 100%;
}

.dropdown-menu .dropdown-header {
	font-size: 15px;
	font-weight: bold;
}

/* ==========================================================================
Content
========================================================================== */
.row div.col-md-10 {
	padding:0;
}
#page-title {
	border-bottom: none;
}
.nav-loaction {
	display: block;
}

/* ==========================================================================
Panels
========================================================================== */
.panel-default > .panel-heading {
	padding:0;
	background: #dce6f1;
	border:1px #000 solid;
}
.panel-title {
	clear: both;
	text-align: left;
	position: relative;
	height: 26px;
}
.panel-title .accordion-toggle:hover {
	text-decoration: none;
}
.panel-title .accordion-toggle {
	font-size: 1em;
	padding-top: 4px;
	margin-left: 4px;
	position: absolute;
	width: 100%;
}
.panel-title .btn {
	background: #ab0000;
	color: #fff;
	width: 20%;
	padding:0;
	margin:2px;
	border:none;
	position: absolute;
	top:0;
	right: 4px;
	font-style: italic;
}
.panel-body {
	font-size: 0.9em;
	border:1px #000 solid;
}

/* ==========================================================================
Forms
========================================================================== */
.form {
	width: 70%;
	margin:0 auto 1em auto;
}
.checkbox {
	margin-left:20px;
}

.form-strategy .form-control-static,  .form-tactic .form-control-static{
	min-height: auto;padding-top:0;padding-bottom:0;
}
.form-strategy-heading,  .form-tactic-heading {display:none;}
/* ==========================================================================
Strategies & Tactics
========================================================================== */
.strategytactic-header {
	font-weight: bold;
}
.strategytactic {
	border-top: 1px #000 solid;
	padding: 5px 0;
}
.strategy {
	min-height: 150px;
	padding-left: 0;
}
.strategy:after {
	content:"";
	background: #000;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 1px;
}
.strategy div.col-sm-1 {
	padding:0;
}
.tactics {
	padding-left:0;
	min-height: 150px;
}
.tactics:before {
	content:"";
	background: #000;
	position: absolute;
	bottom: 0;
	left: -1px;
	height: 100%;
	width: 1px;
}
.tactic-info {
	padding-left: 4px;
	padding-bottom: 5px;
}
.tactic-info:after {
	content:"";
	background: #000;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 1px;
}
.attachment-list {
    padding: 2px 0 0 0;
    margin-bottom: 5px;
}
.attachment-list li {
	list-style: none;
}
.main-description {
	font-weight: bold;
}
.main-comment {
	position: relative;
}
.main-comment p {
    margin-left: 16px;
    margin-bottom: 5px;
}
.main-comment .fa-comment {
	position: absolute;
	left: 0;
}

/* ==========================================================================
Calendar classes
========================================================================== */
.calendar {width:100%; border-collapse:collapse; margin-bottom: 1em;}
.calendar tr.navigation th {padding-bottom:20px;}
.calendar th.prev-month {text-align:left;}
.calendar th.current-month {text-align:center; font-size:1.5em;}
.calendar th.next-month {text-align:right;}
.calendar tr.weekdays th {text-align:left;}
.calendar td {width:14%; height:100px; vertical-align:top; border:1px solid #CCC;}
.calendar td.today {background:#FFD;}
.calendar td.prev-next {background:#EEE;}
.calendar td.prev-next span.date {color:#9C9C9C;}
.calendar td.holiday {background:#DDFFDE;}
.calendar span.date {display:block; padding:4px; line-height:12px; background:#EEE;}
.calendar div.day-content {}
.calendar ul.output {margin:0; padding:0 4px; list-style:none;}
.calendar ul.output li {margin: 2px; padding: 5px; line-height:1em;}
.calendar ul.output li:last-child {border:0;}
.calendar ul.output li.label, .calendar ul.output li a.label {white-space: normal;}
.calendar ul.output li {border-radius: .25em !important;}

/* Small Calendar */
.calendar.small {width:auto; border-collapse:separate;}
.calendar.small tr.navigation th {padding-bottom:5px;}
.calendar.small tr.navigation th a {font-size:1.5em;}
.calendar.small th.current-month {font-size:1em;}
.calendar.small tr.weekdays th {text-align:center;}
.calendar.small td {width:auto; height:auto; padding:4px 8px; text-align:center; border:0; background:#EEE;}
.calendar.small span.date {display:inline; padding:0; background:none;}

/* ==========================================================================
Review / Evaluation forms
========================================================================== */
.form-reviewcycle {
	width: 100%;
}
.peerFor,.topcorner {
	
}
#reviewcyclePeerList #peerList {
	width: 20%;
	position: absolute;
	left: 0;
	background: #fff;
	border:1px #ddd solid;
}
#reviewcyclePeerList table:not(#peerList) {
	margin-left: 20%;
}
#reviewcyclePeerList table tr td{
	padding:0 8px;
	height: 29px;
}
#reviewcyclePeerList table tr th {
	height: 49px;
}
.form-subeval, .form-subevalcomp , .compiled-form, .form-preview{
	width: 100%;
}
.subevalstable *{
	border:none !important;
}
.subeval-table-name {
	text-align: right;
}
.subeval-table-description {
	width: 100%;
}
.subeval-table-description p { margin: 0;}
.subevluation-row {
	border-bottom:1px #DDDDDD solid !important;
}
.subeval-table-btns {
	width: 22%;
}
.compiled-form .subevaluations-fulllist {
	size:10;
}

.subeval-list div{
	display: inline-block;
	vertical-align:middle;
}
.subevaluations, .subevaluations-fulllist {
	width: 40%;	
}
.subevaluations ul, .subevaluations-fulllist ul{
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	margin:0;
	height:200px;
	overflow-y:scroll;	
}
.subeval-list div ul {
	margin:0;
	padding:0;
}
.subeval-list div ul li {
	list-style:none;
	margin:0;
	padding:5px;
}
.subeval-list div ul li.static-item, .subeval-list div ul li.matrix-item, .subeval-list div ul li.signature-item{
	background:#DFF0D8;
}
.subeval-list div ul li:hover {
	background:#E6E6E6;
	cursor:default;
}
.subevaluations ul li:hover {
	cursor: pointer;
}
.eval-buttons {
	width: 20%;
	text-align: center;
	vertical-align:middle !important;
}
.eval-buttons button {
}
.peerSelect[data-selected="1"] {
	text-align: center;
	color:green;
}
.peerSelect:hover{
	cursor: pointer;
	border:1px green solid;
}
/* ==========================================================================
Compile Form classes
========================================================================== */
.panel-body .strategytactic-header:not(:first-child) {
	border-bottom: 1px #ddd solid;
	margin-bottom: 10px;
}
.tn-list .panel-body .strategytactic-header {
	border-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.form-section {
	padding:10px 10px;
	border-top:1px #DDDDDD solid;
}
.form-section:nth-of-type(even) {
	/*background:#FAFAFA;*/
}
.section-header {
}
.section-header h3 {
	padding:0;
	margin:0;
}
.static-content-edit {
	float: right;
}
.rating-guide li {
	text-align: left;
}
.rating-guide li .rating-key{
	margin:0 0 0 20px;
	width:20%;
	text-align: left;
	display: inline-block;
}
.rating-stars {
	overflow: hidden;
}
.rating-stars p{
	margin:0;
	padding:0;
}
.rating-stars div{
	height: 25px;
}
.stars {
	direction: rtl;
	position: relative;
	clear: both;
}
.stars label, .stars input{
	margin:0;
	padding:0;
}
.stars input {
	visibility: hidden;
	position: absolute;
}
.stars label {
	float: right;
}
.stars:not(:checked) > label {
    width:1em;
    padding:0 0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    color:#ddd;
}
.stars:not(:checked) > label:before {
    content: '\2605';
}

.stars > input:checked ~ label {
    color: #428BCA;
}

.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #428BCA;
}

.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
    color: #428BCA;
}

.section-description {
	margin:5px 0;
}

.rating-avg {
	clear: both;
	direction: rtl;
	position: relative;
	overflow: hidden;
	margin:0;
	padding:0;
	display: inline-block;
}
.rating-avg label {
	width:1em;
	padding:0 0.1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:150%;
	color: #428BCA;
}
.rating-avg label:before {
	content: '\2605';	
}
.stars-bg {
	width: 100%;
	height: inherit;
	position: absolute;
	right:-100%;
	top:0;
}

.rating-modal {
	direction: ltr;
}
.rating-modal span{
	display: block;
	vertical-align: middle;
}

.rating-display{
	height: auto;
	width:auto;
	height: 20px;
}
.rating-stars .displayonly-bg {
	height: 20px;
	width: 100%;
	height: inherit;
	position: absolute;
	right:-100%;
	top:0;
}
.displayonly-textarea {
	min-height: 80px;
	height: auto;
	width: 100%;
	overflow-x:auto;
} 


/* ==========================================================================
Results/Culture Matrix
========================================================================== */
.matrixes div{
	display: inline-block !important;
}
.rcMatrix {
	position: relative;
	width: 500px;
	height: 300px;
	clear: both;
}
.plots {
	position: absolute;
	width: 400px;
	height: 200px;	
	bottom:50px;
	left: 50px;
}
.plots .point {
	position: absolute;
	z-index: 8;
	content: '\2606';	
	width: 30px;
	height: 30px;
	color:#000;
	display: block;
}
.point span {
	position: absolute;
	z-index: 9;
	width: 20px;
	height: 20px;
	color:#000;
	left: -10px;
	bottom: -10px;
	text-align: center;
}
.point span:hover {
	cursor:default;
}
.point span:before{
	content: "\2605";
	font-size:180%;
	color: #444;
	line-height: 0.7em;
	margin:0 0 0 -2px;
}
.rcMatrix-rating-stars {
	width: 20%;
	margin:50px 0 0 0;
}
.rcStars{
	float: right;
	clear: both;
	margin:0 0 20px 0;
}
.rcStars h3 {
	margin:0;
	padding:0;
}
.rcStars .rcStars-stars{
	position: relative;
	overflow: hidden;
}
.rcStars-stars img {
	width: 100%;
	display: inline-block;
}
.stars-print-bg {
	right: 0;
	width: 100%;
	position: absolute;
}

/* ==========================================================================
Toolbox
========================================================================== */
.folders {
	border-bottom: 1px #94a0b4;
	margin:0 0 10px 0;
	display: block;
}
.folders li{
	display: inline-block;
	border: 1px #ddd solid;
	width: 88px;
	margin:10px 0 0 0;
	text-align: center;
	vertical-align: top;
	position: relative;
}
.folders li a {
	display: block;
	height: 100%;
}
.folders li a img {
	width: 86px;
	height: 58px;
	padding:2px;
}
.folders li a.folder-action {
	font-size: 1em;
	background:#fff;
	padding:2px;
	border-radius:15px;
	position: absolute;
	height: auto;
}
.folders li a.fa-cog {
	top: 0;
	left: 0;
	color:#428bca;
}
.folders li a.fa-times-circle {
	top: 0;
	right: 0;
	color:#d9534f;
}
li.open-folder {
	background: #428bca;
}
li.open-folder a {
	color: #fff;
}
li a.add-file {
	text-align: center;
	display: block;
	clear: both;
}
.sort-by-name:hover, .sort-by-mime:hover, .sort-by-date:hover {
	cursor: pointer;
}

/* ==========================================================================
Footer
========================================================================== */
#footer {
	position: absolute;
	bottom: 0;
	padding: 0;
	background-color: #011c63;
	color:#fff;
	line-height: 35px;
	width: 100%;
	margin: -120px 0;
	border: 2px #000 solid;
}
#footer div {
/* 	padding:10px; */
}
#footer .mid {
	text-align: center;
}

#footer .last {
	padding: 0;
    position: absolute;
    right: 0;	
}

#footer p {
	margin-top: 15px;
}

#footer a {color: #fff;}

.footer-logo{
	height: 60px;
	width: auto;
	float: right;
}

/* Changes */
div.datepicker-dropdown {z-index:9999 !important;}
.obj-title p, .strategy-title p, .tactic-title p {margin-bottom: 0 !important;}
.form-strategy textarea.form-control {height: 40px;}
.form-group {margin-bottom: 10px;}


table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.navbar-brand {
	height: auto;
	padding: 0;
}

.navbar-brand img {height:110px;}

.cycle-slideshow div {display:none}

.cycle-slideshow{ text-align: right; margin-top: 10px; color:#000; font-size:17px; margin-right:15px; float: right; line-height: 20px;}
.cycle-slideshow .cycle-slide span{ display:block; color:#999;}
.cycle-slideshow .cycle-slide{ float:right; clear:both;width:500px;}

.label-me {/* color:#ff0; */background-color: #f5e010;}

.rating-stars p {display:inline-block;vertical-align: super; margin-right: 10px;}
.rating-stars .stars {display: inline-block;}

.due-changed {color:#ab0000;}

.read-more-content {display:none;}

.tactics .table-action li {padding-right: 0 !important;}